/* footer.css */

.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
    color: #333;
  }
  
  .footer h4 {
    color: #333;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer-bottom {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  